{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        #root {

        }
    </style>

    <div id="root"></div>

    <script>

    </script>
{% endblock %}
